$popup-background-secondary: rgb(0 0 0 / 0.1);

.prompt {
  border-radius: var(--popup-border-radius) !important;
  border-color: var(--popup-border-color) !important;
  font-size: 12px !important;
  padding: 0.5rem !important;

  .title {
    margin: 0 !important;
  }

  .text {
    color: var(--popup-text-color) !important;
  }

  .icon {
    color: var(--popup-icon-color) !important;
  }

  &.select > .scroll {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .button-container {
    margin-top: 0.5rem !important;
  }

  .message {
    padding: 1rem !important;
    min-height: 0px !important;
    margin-bottom: 0.5rem !important;
  }

  .input {
    height: 2.5rem !important;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid transparent !important;
    background: $popup-background-secondary !important;

    &::placeholder {
      opacity: 0.1;
    }

    &:focus {
      border-color: rgb(51, 153, 255);
      border-color: var(--popup-border-color) !important;
    }
  }

  textarea {
    height: 150px !important;
    min-height: 100px !important;
    max-height: 400px !important;
    resize: both !important;
    padding: 0.5rem !important;
    font-size: 12px !important;
  }

  .tile {
    background: $popup-background-secondary !important;
    border-radius: 0 !important;
    // border: 1px solid var(--popup-background-secondary) !important;

    &:hover {
      //border-color: var(--popup-border-color);
      background-color: var(--popup-active-color) !important;
    }

    &:active {
      background-color: rgb(51, 153, 255);
      background-color: var(--popup-active-color);
    }

    &:first-child {
      border-top-left-radius: 1rem !important;
      border-top-right-radius: 1rem !important;
    }

    &:last-child {
      border-bottom-left-radius: 1rem !important;
      border-bottom-right-radius: 1rem !important;
    }

    .lead:empty + .text {
      margin-left: 1rem;
    }
  }
}

