#hints {
  display: flex;
  flex-direction: column;
  height: 70vh !important;
  padding: 0.5rem 0;
  gap: 0.1rem;

  [data-action="hint"],
  [action="hint"] {
    overflow-y: none !important;
    height: 1rem !important;
    margin: 0 0.5rem;
    padding: 1.5rem 1rem;
    background: var(--primary-color) !important;
    border: 1px solid transparent;

    &:first-child {
      border-top-left-radius: 1rem !important;
      border-top-right-radius: 1rem !important;
    }

    &:last-child {
      border-bottom-left-radius: 1rem !important;
      border-bottom-right-radius: 1rem !important;
    }

    &:hover,
    &:active {
      border-color: var(--border-color);
      background: var(--secondary-color) !important;
    }
  }
}
