.context-menu {
  border-radius: var(--popup-border-radius) !important;

  li {
    .text {
      color: var(--popup-text-color) !important;
    }

    .icon {
      color: var(--popup-icon-color) !important;
    }

    &:hover,
    &:active {
      background-color: var(--popup-background-secondary-color) !important;
    }
  }
}
