$navbar-height: 3.5rem;

wc-page {
  header {
    display: flex !important;
    align-items: center !important;
    height: $navbar-height !important;
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 0 0 !important;
    padding: 0.5rem 1rem !important;
    gap: 1rem;

    .icon {
      border: 1px solid var(--border-color);
      border-radius: 0.5rem;
      height: 2rem !important;
      width: 2rem !important;
      font-size: 1rem !important;
    }

    .text {
      &.sub-text {
        font-size: 0.8rem !important;
      }
    }
  }
}
