#palette {
  background: transparent;
  box-shadow: 0 0 0;

  & ~ #hints {
    border-radius: 0.5rem;
    width: 90vw;
    box-sizing: border-box;
    z-index: 999;
  }

  & ~ .mask {
    opacity: 0.4;
    z-index: 998;
  }

  input {
    border-radius: 0.5rem !important;
    background: var(--primary-color);

    &::placeholder {
      opacity: 0.5;
    }
  }
}
