#plugin {
  background-color: var(--secondary-color);

  .header {
    background: var(--primary-color);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    padding: 1rem !important;
    gap: 0 !important;
    border-bottom: 0.1rem solid var(--border-color);

    .info {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      gap: 1rem !important;
      padding: 0 1rem !important;

      .logo {
        background-size: 100% !important;
        height: 5rem !important;
        width: 5rem !important;
        border-radius: 1rem !important;
        border: 0.1rem solid var(--border-color);
      }

      .desc {
        padding: 0 !important;
        display: grid !important;
        /* align-items: center !important; */
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 0;
        max-height: 100% !important;
        max-width: 100% !important;

        & > span {
          grid-column: 1 / -1;
        }

        .name {
          font-weight: 800;
          font-size: 1.25rem !important;
          color: var(--primary-text-color);
          margin: 0 0 0.25rem 0 !important;
        }

        .version,
        .author {
          padding: 0 !important;
          margin: 0 !important;
        }
        
        .author {
          position: relative;
        }

        .author > a {
          color: var(--link-text-color);
          text-decoration: none;
        }
      }
    }

    .more-info {
      padding: 1rem 0 !important;
      display: flex;
      align-items: center !important;
      justify-content: center !important;
      max-width: 100% !important;

      .icon-info > div {
        font-weight: 800;
        color: var(--primary-text-color);
        margin: 0 !important;

        .sub-text {
          margin: 0 !important;
        }
      }
    }
  }

  .button-container {
    margin: 1rem 0 !important;

    button {
      border-radius: 1rem !important;
    }
  }

  .body {
    background: var(--primary-color);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-top: 0.1rem solid var(--border-color);
    padding: 1rem !important;
  }
}
