#quicktools-toggler {
  border-radius: 1rem;
  box-shadow: 0 0 0;
  border-color: var(--border-color);
}

#quick-tools {
  border: 0.1rem solid var(--border-color);
  border-bottom: 0 !important;
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  box-shadow: 0 0 0;

  #row1,
  #row1 .section:nth-child(1) {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
  }
}

[open-file-list-pos="bottom"] {
  #quick-tools {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;

    #row1,
    #row1 .section:nth-child(1) {
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }
  }

  .open-file-list {
    border-top: 0.1rem solid var(--border-color);
  }
}

.open-file-list {
  border-bottom: 0.1rem solid var(--border-color);
  box-shadow: 0 0 0 !important;

  .tile {
    background-color: var(--secondary-color);
    border-left: 1px solid var(--border-color) !important;

    &.last-child {
      border-right: 1px solid var(--border-color) !important;
    }

    &.active {
      background-color: var(--primary-color) !important;
    }
  }
}
