.main .list,
.main.list {
  padding: 1rem 0 !important;

  .list-item {
    align-items: center !important;
    padding: 0 .5rem !important;
    gap: 1rem !important;

    border: 0.1rem solid transparent !important;
    border-radius: 0 !important;
    background: var(--primary-color) !important;
    box-shadow: 0 0 0 !important;
    margin: 0 0.5rem 0.2rem 0.5rem !important;

    &:hover,
    &:active {
      border-color: var(--border-color) !important;
    }

    &:first-child {
      border-top-left-radius: 1rem !important;
      border-top-right-radius: 1rem !important;
    }

    &:last-child {
      border-bottom-left-radius: 1rem !important;
      border-bottom-right-radius: 1rem !important;
    }

    .icon {
      background-size: 80% !important;
      border-radius: 1rem !important;
    }
  }
}
