#sidebar {
  display: flex;
  width: 85vw;
  border-right: 0.1rem solid var(--border-color);

  & + .mask {
    background: black;
    opacity: 0.25;
  }

  .apps {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1.25rem;
    padding: 1rem 0.8rem;
    gap: 1rem;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1rem;
    }
  }

  .container {
    display: flex;
    align-items: center;
    margin: 0 !important;

    &.files .scroll .tile::before {
      content: "";
      display: flex;
      height: 100%;
      width: 0.15rem;
      background: var(--secondary-color);
      opacity: 0.5;
      border-radius: 100%;
    }

    &.search-in-files {
      width: 100% !important;

      .header {
        .options {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.5rem;
          gap: 0.5rem;
          margin: 0 !important;

          .input-checkbox {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            height: 1.5rem;
            font-size: 1rem;
            background: rgba(0, 0, 0, 0.1);
            border-radius: 0.5rem;
          }
        }

        [is="details"] {
          padding-top: 1rem !important;
          border-top: 1.5px solid rgba(0, 0, 0, 0.15);

          input {
            margin-left: 1rem !important;
          }

          textarea {
            margin-left: 0.5rem !important;
          }

          .marker,
          .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 30px;
            background: rgba(0, 0, 0, 0.1);
            border-radius: 1rem;
          }

          &[open] {
            > [is="summary"] {
              .marker {
                background: var(--popup-active-color);
              }
            }
          }
        }
      }

      .editor-container {
        display: flex;
        align-items: center;
        margin: 0 !important;
        margin-left: 1.5rem !important;
      }
    }

    &.extensions {
      & > .header {
        gap: 0.5rem;
        width: 90%;
        padding: 0;
        margin: 0;

        input {
          width: 100% !important;
          height: 2.5rem !important;
          padding-left: 0.5rem !important;
        }

        .title {
          width: 100%;
          justify-content: space-between;
          padding: 0 0.5rem;
        }
      }

      .scroll:not(.search-result) {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        padding: 0.8rem 0.5rem !important;

        .tile {
          display: flex;
          align-items: center;
          gap: 1rem;
          background-color: var(--secondary-color) !important;
          padding: 1.5rem 0.5rem !important;
          border-radius: 0 !important;
          border: 1px solid var(--secondary-color) !important;

          &:hover,
          &:active {
            border-color: var(--border-color) !important;
          }

          &:first-child {
            border-top-left-radius: 1rem !important;
            border-top-right-radius: 1rem !important;
          }

          &:last-child {
            border-bottom-left-radius: 1rem !important;
            border-bottom-right-radius: 1rem !important;
          }

          .icon:nth-child(1) {
            background-size: 100% !important;
            border-radius: 1rem;
          }

          .text:hover,
          .text:active {
            color: var(--active-color) !important;
          }
        }
      }
    }
  }

  .tile {
    width: 100% !important;
  }

  textarea,
  input {
    border-radius: 0.5rem;
    height: 2.5rem !important;
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);

    &::placeholder {
      opacity: 0.5;
    }

    &:focus {
      border-color: rgb(255, 215, 0) !important;
      border-color: var(--border-color) !important;
    }
  }
}
