wc-page {
  &#root {
    & > header {
      border: 0 !important;
      box-shadow: 0 0 0 !important;
    }
  }

  & > header {
    background: rgba(0, 0, 0, 0.1) !important;
    padding: .5rem !important;

    .text {
      display: flex !important;
      flex-direction: column;
      justify-content: center !important;

      height: 100% !important;
      width: 100% !important;

      &.sub-text {
        font-size: .8rem !important;
      }
    }
  }
}