.list {
  .list-item {
    align-items: center !important;

    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    background: rgba(0, 0, 0, 0.1) !important;
    margin: 0.5rem !important;

    border: 0 !important;
    border-radius: 1rem !important;

    box-shadow: 0 !important;

    &:hover,
    &:active {
      border-color: black !important;
      background-color: rgba(0, 0, 0, 0.2) !important;
    }
  }
}
